:root {
  --bg-color: #121212;
  --text-color: #ffffff;
  --card-bg: #1e1e1e;
  --card-shadow: rgba(0, 0, 0, 0.5);
  --accent-color: #1db954;
  --muted-color: #bbbbbb;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  }
